<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DatabaseFactoryConfiguration" type="JusFramework.Dal.DatabaseConfiguration, JusFramework.Dal" />
    <section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap" />

  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <DatabaseFactoryConfiguration name="DatabaseConfiguration">
    <databases>
      <clear />
      <!-- Define la cadena de conexion -->
      <add name="JsiConection" isDefaultDatabase="true" connectionStringName="JsiConection" type="JusFramework.Dal.OracleConectionDatabase" />
    </databases>
  </DatabaseFactoryConfiguration>
  <connectionStrings>
    <add name="JsiConection" connectionString="Data Source=localhost:1521/xe;Persist Security Info=True;User ID=jusinche;Password=Jr_1984_pwr;" providerName="Oracle.DataAccess.Client" />
    <!--Conexion al mongoDB, para registro de logs del elmah-->
    <add name="elmah-mongodb" connectionString="server=172.16.50.119;database=elmah-dev-rc4;" />
  </connectionStrings>
  <StructureMap MementoStyle="Attribute">
    <DefaultInstance PluginType="JusFramework.InyeccionDependencia.Mapper.IJusObjectCreator, JusFramework" PluggedType="JusFramework.InyeccionDependencia.Mapper.JusObjectCreator, JusFramework" Scope="Singleton" />
    <!--Encriptacion-->
    <DefaultInstance PluginType="JusFramework.Encriptacion.IEncripta, JusFramework" PluggedType="JusFramework.Encriptacion.Encripta, JusFramework" Scope="Singleton" cadEncripta="C4d3n4d33ncr1pt1c10na" />
    <!--Cache Mongo-->
    <DefaultInstance PluginType="JusFramework.Cache.ICache, JusFramework" PluggedType="JusFramework.Dal.JusMongoDB.MongoDbConection, JusFramework.Dal" Scope="Singleton" connectionString="mongodb://127.0.0.1" databaseName="CacheDbMongo" />
  </StructureMap>
  <appSettings>
    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!--Contantes de negocio-->
    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <add key="Framework.AppNombre" value="Framework base" />
    <add key="Framework.AppCodigo" value="SIS001" />
    <add key="CslaObjectFactoryLoader" value="JusFramework.Bl.JusObjectFactory, JusFramework.Bl" />
    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!--FIN Contantes de negocio-->
    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Csla" publicKeyToken="93be5fdc093e4c30" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.400.0" newVersion="4.6.400.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>