@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_JusLayout.cshtml";
   
}

<p>Pagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout Pagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layout</p><p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout Pagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layout</p><p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout Pagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layout</p><p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout Pagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layout</p><p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout Pagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layout</p><p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout Pagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layout</p><p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout Pagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layout</p><p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout</p>
<p>Pagina principal.. aqui se despliega mensaje de la pagina con layout Pagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layoutPagina hola.. aqui se despliega mensaje de la pagina con layout</p>