@if (Request.IsAuthenticated)
{
    <div class=" col-md-4">
        <div class="well">
            <ul class="nav nav-list">
                menu aqui con rowmenu aqui con rowmenu aqui con rowmenu aqui con row
            </ul>
            <ul class="nav nav-list">
                menu aqui con row
            </ul>
            <ul class="nav nav-list">
                menu aqui con row
            </ul>
            <ul class="nav nav-list">
                menu aqui con row
            </ul>
        </div>
    </div>
}